logs
target
/.bsp
/.g8
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.vscode
/.git
/.gitignore
/mametiBBS_er_diagram.dio
/mametiBBS_er_diagram.png
/docker-compose.yml
/docker-compose.dev.yml
/Dockerfile
/.scalafmt.conf
/.ebignore
/.elasticbeanstalk


# bloop and metals
/.bloop
/project/metals.sbt
/project/project
/.metals

# uploadedImages
/public/images/profileImages/*

# secret infomation
/db
