logs
target
/.bsp
/.g8
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

# bloop and metals
.bloop
project/metals.sbt
project/project
.metals

# uploadedImages
/public/images/profileImages/*

# secret infomation
db
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions
