option_settings:
  aws:elbv2:loadbalancer:
    ManagedSecurityGroup: 'sg-05f8b2320c7cece23'
    SecurityGroups: 'sg-05f8b2320c7cece23'
  aws:elbv2:listener:443: # HTTPS を受けるリスナー設定
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: 'arn:aws:acm:ap-northeast-1:986234657173:certificate/ce418f5f-7904-49a9-b769-35c83c8652f5'
    SSLPolicy: 'ELBSecurityPolicy-2016-08'
  aws:elasticbeanstalk:environment:process:default: # ヘルスチェック設定
    DeregistrationDelay: '20'
    HealthCheckInterval: '15'     # ヘルスチェック間隔
    HealthCheckPath: / # ヘルスチェックするパス
    HealthCheckTimeout: '10'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'
    Port: '80'
    Protocol: HTTP
