option_settings:
  aws:ec2:instances:
    EnableSpot: true # スポットインスタンスを利用
    InstanceTypes: 't3.small,t2.small'
    SpotFleetOnDemandBase: '0' # 必ずオンデマンドでプロビジョニングする台数
    SpotFleetOnDemandAboveBasePercentage: '0' # オンデマンドを利用する割合
  aws:autoscaling:asg:
    Cooldown: 300 # オートスケール処理の最低感覚
    MinSize: 2    # 最低サーバ台数
    MaxSize: 4   # 最大サーバ台数
  aws:autoscaling:launchconfiguration:
    SecurityGroups: 'sg-0b9828fd4aa28f966'
    RootVolumeType: 'gp3'
    RootVolumeIOPS: '3000'
    RootVolumeSize: '10'
  aws:autoscaling:trigger: # オートスケールのトリガー条件
    BreachDuration: 5
    MeasureName: CPUUtilization
    Statistic: Average
    Unit: Percent
    UpperThreshold: 80
    UpperBreachScaleIncrement: 1
    LowerThreshold: 60
    LowerBreachScaleIncrement: -1
