a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.main-contents {
  width: 60%;
}

/* font-awesome サイズ微調整 */
.fa-user {
  font-size: 18px;
}
.fa-crown {
  font-size: 13px;
}

.profile-img-sm {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-img-lg {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.display-none {
  display: none;
}

.like-btn {
  color: #808080;
}

.unlike-btn {
  color: #e54747;
}
