@import helper._
@import domains.Post
@import common.UserRequestHeader
@import java.time.format._

@(posts: List[(Post,Option[Long])])(implicit request: UserRequestHeader, flash: Flash)
@signInUser = @{request.signInUser}
@main("マイページ"){
<div class="d-flex flex-grow-1">
	@*ナビゲーションバー*@
	@commons.navigation()
	<section class="container main-contents">
		<section class="user-profile">
			<div class="card my-3">
				<div class="row g-0">
					<div class="col-md-4 d-flex justify-content-center align-items-center">
						<img src="@routes.Assets.versioned("images/Noimg.jpg")" class="profile-img-lg" alt="プロフィール画像">
					</div>
					<div class="col-md-8 d-flex justify-content-around">
						<section class="display-profile">
							<div class="card-body">
								<h5 class="card-title">@signInUser.name</h5>
								<p class="card-text">@signInUser.email</p>
								<p class="card-text">@signInUser.birthday</p>
								<p class="card-text">@signInUser.department.name</p>
								<p class="card-text">@signInUser.introduce</p>
							</div>
						</section>
						<div>
							<a href="@routes.UserController.edit(signInUser.userId)">
								<button class="btn btn-primary btn-sm mt-5">プロフィールを編集する</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="text-center text-success fw-bold my-3"><span>@flash.get("successUpdate").getOrElse("")</span></div>
		<div class="text-center text-success fw-bold my-3"><span>@flash.get("successDelete").getOrElse("")</span></div>
		<div class="text-center text-danger fw-bold my-3"><span>@flash.get("failure").getOrElse("")</span></div>
		<section>
			@posts.map{post =>
			<article class="border rounded">
				<section class="card-header bg-white">
					<a href="@routes.PostController.detail(post._1.postId.get)">
						<span class="fs-5 fw-bold">@post._1.user.get.name</span>
						<span class="ps-3 text-secondary">
							@post._1.postedAt.format(DateTimeFormatter.ofPattern("MM/dd hh:mm"))
						</span>
					</a>
				</section>
				<a href="@routes.PostController.detail(post._1.postId.get)">
					<section class="card-body">
						<div class="card-text p-3">@post._1.content</div>
					</section>
				</a>
				<section class="card-footer bg-white border-white">
					<div class="px-3 w-50 d-flex justify-content-between align-items-center">
						<a href="@routes.PostController.detail(post._1.postId.get)">
							<i title="コメントする" class="far fa-comment"></i>
							<span>@post._2.getOrElse("")</span>
						</a>
						<i title="いいね！" class="far fa-heart"></i>
						@form(routes.PostController.delete(post._1.postId.get),Symbol("class") -> "deleteForm") {
						@CSRF.formField
							<i title="削除する" name="deleteButton" class="far fa-trash-alt"></i>
						}
						<a href="@routes.PostController.edit(post._1.postId.get)">
							<i title="編集する" class="far fa-edit"></i>
						</a>
					</div>
				</section>
			</article>
			}
		</section>
</div>
<script src="@routes.Assets.versioned("javascripts/users/detail.js")" type="text/javascript"></script>
</div>
}
