@import common.UserRequestHeader
@import helper._
@import forms._
@import models.domains.UpdateUserProfileFormData
@(updateUserProfileForm: Form[UpdateUserProfileFormData],departmentList: List[(String,String)])(implicit request:
UserRequestHeader,flash: Flash)
@implicitField = @{helper.FieldConstructor(myFieldConstructorTemplate.f)}

@main("ユーザプロフィール編集"){
<div class="d-flex flex-grow-1">
	@*ナビゲーションバー*@
	@commons.navigation()
	<section class="container main-contents">
		<h1 class="text-center mt-5 fw-bold  py-3">プロフィール編集</h1>
		@form(routes.UserController.update(), Symbol("enctype") -> "multipart/form-data") {
		@CSRF.formField
		@inputText(updateUserProfileForm("userId"), Symbol("type") -> "hidden")
		<label for="email">名前: </label>
		@inputText(updateUserProfileForm("name"),Symbol("class") -> "form-control mb-3")
		<label for="email">メールアドレス: </label>
		@inputText(updateUserProfileForm("email"),Symbol("class") -> "form-control mb-3")
		<label for="password">誕生日: </label>
		@inputDate(updateUserProfileForm("birthday"),Symbol("class") -> "form-control mb-3")
		<label for="password">自己紹介: </label>
		@textarea(updateUserProfileForm("introduce"),Symbol("class") -> "form-control mb-3")
		<label for="profileImg">プロフィール画像: </label>
		@inputFile(updateUserProfileForm("profileImg"),Symbol("type") -> "file",Symbol("class") -> "mb-3")
		<label for="password">部署名: </label>
		@select(updateUserProfileForm("departmentId"),departmentList,Symbol("class") -> "mb-3")

		<div class="m-auto">
			<button class="btn btn-primary btn-sm d-block m-auto">更新する</button>
		</div>
		}
	</section>
</div>
}
