@import common.UserRequestHeader
@import helper._
@import forms._
@import models.domains.UpdateUserProfileFormData
@(updateUserProfileForm: Form[UpdateUserProfileFormData],departmentList: List[(String,String)])(implicit request:
UserRequestHeader,flash: Flash)
@implicitField = @{helper.FieldConstructor(myFieldConstructorTemplate.f)}

@main("ユーザプロフィール編集"){
<div class="d-flex flex-grow-1">
	@*ナビゲーションバー*@
	@commons.navigation()
	<section class="container main-contents">
		<h1 class="text-center mt-5 fw-bold  py-3">プロフィール編集</h1>
		@form(routes.UserController.update(), Symbol("enctype") -> "multipart/form-data") {
			@CSRF.formField
			@inputText(updateUserProfileForm("userId"), Symbol("type") -> "hidden")
			<label for="name">名前: </label>
			@inputText(updateUserProfileForm("name"),Symbol("class") -> "form-control mb-3")
			<label for="email">メールアドレス: </label>
			@inputText(updateUserProfileForm("email"),Symbol("class") -> "form-control mb-3")
			<label for="password">誕生日: </label>
			@inputDate(updateUserProfileForm("birthday"),Symbol("class") -> "form-control mb-3")
			<label for="password">自己紹介: </label>
			@textarea(updateUserProfileForm("introduce"),Symbol("class") -> "form-control mb-3")
			<div>プロフィール画像:</div>
			<label for="profileImgInput" class="btn btn-outline-primary btn-sm">プロフィール画像を変更
				<input type="file" id="profileImgInput" name="profileImg" class="mb-3 display-none" accept=".png, .jpg, .jpeg">
			</label>
			@updateUserProfileForm.error("profileImg") match {
				case None =>{}
				case Some(error) =>{
					<div class="errors text-danger">@error.format</div><br>
				}
			}
			<div id="profileImgError" class="errors text-danger"></div>
			<div id="preview" class="col-md-4 d-flex justify-content-center align-items-center">

				@updateUserProfileForm.data.get("profileImg") match {
					case None =>{
						<img src="https://mameti-bbs.s3.ap-northeast-1.amazonaws.com/uploadedImages/Noimg.jpg" class="profile-img-lg" alt="プロフィール画像">
					}
					case Some(profileImg) =>{
						<img src="https://mameti-bbs.s3.ap-northeast-1.amazonaws.com/uploadedImages/@profileImg" class="profile-img-lg" alt="プロフィール画像">
					}
				}
			</div>
			<label for="password">部署名: </label>
			@select(updateUserProfileForm("departmentId"),departmentList,Symbol("class") -> "mb-3")
			<div class="m-auto">
				<button id="updateButton" class="btn btn-primary btn-sm d-block m-auto">更新する</button>
			</div>
		}
	</section>
</div>
<script src="@routes.Assets.versioned("javascripts/users/edit.js")"></script>
}
