@import helper._
@import play.api.data.Form
@import controllers.forms.SignInFormData
@import common.UserOptRequestHeader

@(signInForm: Form[SignInFormData])(implicit request: UserOptRequestHeader, flash: Flash)
@implicitField = @{helper.FieldConstructor(myFieldConstructorTemplate.f)}
@main("サインイン"){
<div class="d-flex flex-grow-1">
	@*ナビゲーションバー*@
	@commons.navigationUserOpt()
	<section class="container main-contents">
		<h1 class="text-center mt-5 fw-bold  py-3">サインイン</h1>
		<div class="text-center fw-bold my-3">
			<span class="text-success">@flash.get("successRegister").getOrElse("")</span>
			<span class="text-danger">@flash.get("errorNeedSignIn").getOrElse("")</span>
			@signInForm.error("userNotFound") match {
			case None =>{}
			case Some(error) => {
			<div class="text-danger">@error.format</div>
			}
			}
		</div>
		@form(routes.SignInController.signIn()) {
		@CSRF.formField
		<label for="email">メールアドレス: </label>
		@inputText(signInForm("email"),Symbol("class") -> "form-control mb-3")
		<label for="password">パスワード: </label>
		@inputPassword(signInForm("password"),Symbol("class") -> "form-control mb-3")
		<div class="m-auto">
			<button class="btn btn-primary btn-sm d-block m-auto" type="submit">ログイン</button>
		</div>
		}
	</section>
</div>
}
