@import common.UserRequestHeader
@()(implicit request: UserRequestHeader)

<aside class="mt-5">
	<ul class="list-group list-group-flush ps-3">
        @request.signInUserOpt match{
			case None => {
				<li class="list-group-item">
					<a href="@routes.UserController.toSignIn()">
						<i class="fas fa-sign-in-alt" style="margin-right: 4px;"></i><span class="fw-bold">ログイン</span>
					</a>
				</li>
			}
			case Some(signInUser) => {}
		}
		<li class="list-group-item">
			<a href="@routes.PostController.index()">
				<i class="fas fa-list" style="margin-right: 4px;"></i><span class="fw-bold">豆知識一覧</span>
			</a>
		</li>
		@request.signInUserOpt match{
			case None => {
			}
			case Some(signInUser) =>{
				<li class="list-group-item">
					<a href="@routes.UserController.index(signInUser.userId)">
						<i class="fas fa-user" style="margin-right: 4px;"></i><span class="fw-bold">マイページ</span>
					</a>
				</li>
			}
		}
		@request.signInUserOpt match{
			case None =>{}
			case Some(signInUser) => {
				<li class="list-group-item">
					<a href="@routes.UserController.index(1)">
						<i class="fas fa-crown" style="margin-right: 4px;"></i><span class="fw-bold">ランキング</span>
					</a>
				</li>
			}
		}
		@request.signInUserOpt match{
			case None =>{}
			case Some(signInUser)=>{
				<li class="list-group-item">
					<a href="@routes.PostController.index()">
						<i class="fas fa-sign-in-alt" style="margin-right: 4px;"></i><span class="fw-bold">ログアウト</span>
					</a>
				</li>
			}

		}
	</ul>
</aside>
