<aside class="mt-5">
	<ul class="list-group list-group-flush ps-3">
		<li class="list-group-item">
			<a href="@routes.PostController.index()">
				<i class="fas fa-list" style="margin-right: 4px;"></i><span class="fw-bold">豆知識一覧</span>
			</a>
		</li>
		<li class="list-group-item">
			<a href="@routes.UserController.index()">
				<i class="fas fa-user" style="margin-right: 4px;"></i><span class="fw-bold">マイページ</span>
			</a>
		</li>
		<li class="list-group-item">
			<a href="@routes.UserController.index()">
				<i class="fas fa-crown" style="margin-right: 4px;"></i><span class="fw-bold">ランキング</span>
			</a>
		</li>
	</ul>
</aside>
