@import helper._
@import common.UserOptRequestHeader
@()(implicit userOptRequest: UserOptRequestHeader)

@userOptRequest.signInUserOpt match {
	case None =>{
		<aside class="mt-5" style="width: 300px;">
			<ul class="list-group list-group-flush ps-5">
				<li class="list-group-item">
					<a href="@routes.SignInController.toSignIn()">
						<i class="fas fa-sign-in-alt" style="margin-right: 4px;"></i><span class="fw-bold">ログイン</span>
					</a>
				</li>
				<li class="list-group-item">
					<a href="@routes.SignInController.toSignUp()">
						<i class="fas fa-user-plus" style="margin-right: 4px;"></i><span class="fw-bold">会員登録</span>
					</a>
				</li>
				<li class="list-group-item">
					<a href="@routes.PostController.index()">
						<i class="fas fa-list" style="margin-right: 4px;"></i><span class="fw-bold">豆知識一覧</span>
					</a>
				</li>
			</ul>
		</aside>
	}
	case Some(signInUser) =>{
		<aside class="mt-5" style="width: 300px;">
			<ul class="list-group list-group-flush ps-5">
				<li class="list-group-item">
					<a href="@routes.PostController.index()">
						<i class="fas fa-list" style="margin-right: 4px;"></i><span class="fw-bold">豆知識一覧</span>
					</a>
				</li>
				<li class="list-group-item">
					<a href="@routes.UserController.detail(signInUser.userId)">
						<i class="fas fa-user" style="margin-right: 4px;"></i><span class="fw-bold">マイページ</span>
					</a>
				</li>
				<li class="list-group-item">
					<a href="@routes.RankingController.index(None,None)">
						<i class="fas fa-crown" style="margin-right: 4px;"></i><span class="fw-bold">ランキング</span>
					</a>
				</li>
				<li class="list-group-item">
					@form(routes.SignInController.signOut(), Symbol("name") -> "signOutForm") {
						@CSRF.formField
						<i class="fas fa-sign-in-alt" style="margin-right: 4px;"></i><a href="javascript:document.signOutForm.submit()"
						class="fw-bold">ログアウト</a>
					}
				</li>
			</ul>
		</aside>
	}
}
